<!-- This is 404 page -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Error - Not Found</title>
  </head>
  <body>
    <h1>404 Error - Not Found</h1>
    <p>
      The page you are looking for does not exist. Click <a href="/">here</a> to
      return to the home page.
    </p>
  </body>
</html>
